.productsPage {
    
    .productsContainer {
        display: flex;
        justify-content: start;
        
        .productContainer {
            border: 1px solid white;
            padding: var(--big-gap);
            text-decoration: none;
    
            .image {
                width: 200px;
                height: 200px;
            }
    
            .description {
                text-align: center;
            }
        }
    }
}