.contactForm {
    max-width: 600px;
    position: relative;
    border: var(--border-white);

    .fieldsContainer {
        padding: var(--very-big-gap);
        /* border: var(--border-white); */
        display: flex;
        flex-direction: column;
        gap: var(--big-gap);
        transition: var(--transition);
        
        .labelAndInputContainer {
            border-bottom: 1px solid var(--beige-1);
            display: flex;
            gap: var(--medium-gap);

            & label {
                color: white;
                width: 70px;
            }
            
            & input {
                color: white;
                outline: none;
                border: none;
                background: none;
            }
        }

        &.hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    .button {
        position: relative;
        top: calc(var(--button-height) / 2 * (+1));
        left: 50%;
        transform: translateX(-50%);


        &.hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    &.dark {
        
        & h2 {
            color: var(--normal-text);
        }
        .fieldsContainer {
            border: var(--border-2);

            .labelAndInputContainer {
                border-bottom: var(--border-2);
            }

            & label {
                color: var(--normal-text);
            }
            & input {
                color: var(--normal-text);
            }
        }
    }

    .statusText {
        position: absolute;
        top: 50%;
        color: white;
        text-align: center;
        width: 100%;
        transition: var(--transition);
        font-style: italic;

        &.hidden {
            visibility: hidden;
            opacity: 0;
        }
    }
}

