footer {
    border-top: var(--border);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    justify-items: center;
    align-items: center;
    row-gap: var(--small-gap);
    padding-bottom: var(--medium-gap);
    
    .logoContainer {
        width: 300px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .contactsContainer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        .icon {
            margin-right: var(--small-gap);
        }

    }
    
    .menuContainer {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        gap: var(--big-gap)
    }
    
    .socialLinksContainer {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        gap: var(--small-gap)
    }
    
    .copyright {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        color: var(--grey-text);
    }
}