*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding-left: var(--side-padding-for-sections);
    padding-right: var(--side-padding-for-sections);
}

/* TYPOGRAPHY */

@font-face {
    /* font-family: 'PlayfairDisplaySC';
    src: 
        local('PlayfairDisplaySC'),
        url('../fonts/PlayfairDisplaySC-Regular.ttf') format('truetype'); */
}
    
@font-face {
    /* font-family: 'Jost';
    src: 
        local('Jost'),
        url('../fonts/Jost-Regular.ttf') format('truetype'); */
}


h1, h2, p, span, a, div {
    color: var(--on-background);
    line-height: 1.5;
}

h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    /* font-family: var(--font-family-1); */

    /* padding-bottom: var(--big-gap); */
}

h2 {
    font-size: var(--h2-font-size);
    text-align: center;
    /* font-family: var(--font-family-1); */
    /* padding-top: var(--big-gap); */
    /* padding-bottom: var(--big-gap); */
}

p, a, span, div {
    font-size: var(--body-font-size);
    /* font-family: var(--font-family-2); */
}

