.productPage {

    .mainInfoSection {
        display: grid;
        gap: var(--big-gap);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;

        .photoContainer {
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr;
            gap: var(--big-gap);

            .mainImageAndArrowsContainer {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                position: relative;

                .image.main {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }

                .leftArrow {
                    position: absolute;
                    left: var(--medium-gap);
                    top: 50%;
                    transform: translateY(-50%);
                    width: var(--very-big-gap);
                }
                
                .rightArrow {
                    position: absolute;
                    right: var(--medium-gap);
                    top: 50%;
                    transform: translateY(-50%);
                    width: var(--very-big-gap);
                }
            }


            .thumbnailsContainer {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-content: space-between;
                gap: var(--medium-gap);

                .image {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    object-fit: cover;
                }
            }

        }

        .textContainer {
            grid-row: 2 / 3;
            border: var(--border-2);
            padding: var(--big-gap);
            position: relative;

            & h5 {
                color: var(--yellow-2);
                text-align: left;
                padding-bottom: var(--small-gap);
            }

            .propertiesList {
                list-style: none;

                .propertyIcon {
                    padding-right: var(--small-gap);
                }
            }

            & p, .propertiesList {
                padding-bottom: var(--big-gap);
            }

            .button-yellow {
                position: absolute;
                left: 50%;
                bottom: calc(var(--button-height) / 2 * (-1));
                transform: translateX(-50%);
            }
        }
    }

    .additionalInfoSection {
        display: flex;
        flex-direction: column;
        gap: var(--very-big-gap);
        
        .additionalInfoContainer {
            display: grid;
            grid-template-columns: 1fr 400px;
            gap: var(--very-big-gap);

            .textContainer {
                grid-column: 1 / 2;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & h3 {
                    padding-bottom: var(--medium-gap);
                }
            }

            .image {
                grid-column: 2 / 3;
                width: 100%;
            }

        }
    }
}