.productsPage {
    background-color: var(--yellow-1);

    .productsContainer {
        display: flex;
        justify-content: start;

        @media only screen and (max-width: 768px) {
            justify-content: center;
        }
        
        .productContainer {
            border: 1px solid white;
            padding: var(--big-gap);
            text-decoration: none;
    
            .image {
                max-width: 200px;
            }
    
            .description {
                text-align: center;
            }
        }
    }
}