.sliderContainer {
    /* min-height: 350px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid yellow;

    .reviewsContainerContainer {
        width: 100%;
    }

    .reviewsContainer {
        position: relative;
        border: 1px solid green;


            .reviewContainer {

                border: 1px solid blue;

                width: calc(50vw - var(--side-padding-for-sections) + 20vw);

                padding: var(--big-gap) var(--big-gap) var(--big-gap) 0;
                position: absolute;
                background-color: white;
                animation-duration: 1s;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }

                .quoteIcon {
                    position: absolute;
                    top: -20px;
                    left: 0;
                }
                
                .recommendedText {
                    font-size: 22px;
                    font-weight: 500;
                    padding-bottom: var(--medium-gap);
                }

                .starsContainer {
                    display: flex;
                    gap: 4px;
                    padding-bottom: var(--medium-gap);
                }

                .reviewText {
                    padding-bottom: var(--medium-gap);
                }

                .reviewAuthor {
                    display: block;
                    text-align: end;
                }

                &.hidden {
                    visibility: hidden;
                }
    
                &.moveLeft {
                    animation-name: moveLeft;
                }

                &.moveRight {
                    animation-name: moveRight;
                }

                &.revealFromRight {
                    animation-name: revealFromRight;
                }

                &.revealFromLeft {
                    animation-name: revealFromLeft;
                }
            }
        }
        
    .paginationContainer {
        align-self: end;
        display: flex;
        align-items: center;
        gap: var(--medium-gap);

        border: 3px solid red;
        z-index: 3;
        
        .paginationText {
            font-size: 36px;
            font-family: "font-1";
            color: var(--green-1);
        }
    }
}

@keyframes revealFromRight {
    from {transform: translateX(2000px);}
    to {transform: translateX(0);}
}

@keyframes revealFromLeft {
    from {transform: translateX(-2000px);}
    to {transform: translateX(0);}
}

@keyframes moveLeft {
    from {transform: translateX(0);}
    to {transform: translateX(-2000px);}
}

@keyframes moveRight {
    from {transform: translateX(0);}
    to {transform: translateX(2000px);}
}