:root {
    --header-height: 10vh;
    --max-content-width: 1200px;
    --side-padding-for-sections: max(5vw, calc((100vw - var(--max-content-width)) / 2));
    --big-gap: 32px;
    --medium-gap: 16px;
    --small-gap: 8px;

    --border-radius: 2px;

    --h1-font-size: 53px;
    --h2-font-size: 46px;
    --h6-font-size: 18px;
    --body-font-size: 18px;

    --transition: 0.3s;
    --border: 0.5px solid black;

    --green-1: #648149;
    --green-2: #4E6C31;
    --grey-1: #B1B5B4;
    --normal-text: #262626;
}

@font-face {
    font-family: 'font-1';
    src: 
        url('../resources/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "font-2";
    src: url("../resources/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
